# Ignore node modules and dependencies
node_modules/
vendor/

# Ignore build outputs
dist/
build/
out/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment and config files
.env

*.log

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
.vercel
